<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>List of the repositories created in Github last 30 days</h2>
            <div *ngIf="repositoresNumberFound">
                <hr>
                <span><strong>{{ repositoresNumberFound }}</strong> repository found</span>
            </div>
            
        </div>        
    </div>
</div>

<app-repository-view *ngFor="let repository of repositories"  [passRepository]="repository"></app-repository-view>

<div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
></div>
<!-- LOADER -->
<div *ngIf="loaderDisplay" class="loader">
    <div></div>
    <div></div>
    <div></div>
</div>
  